<template>
<div class="test">
    <h1>hola mundo 2.0</h1>
    <h3>Componente test</h3>
    <hr>
    <h4>{{tittle}}</h4>
    <h4>{{user.firstname}}</h4>
    <hr>
    <div v-html="html"></div>
    <div v-text="tittle"></div>
    <hr>
    <div v-if="bool">
        <p>{{user.firstname}}</p>
    </div>
    <p v-else>
        {{user.sencondname}}
    </p>
    <hr>
    <ul>
        <li v-for="(task, index) in task" :key="task.index">
           {{index}} - {{task.title}}
        </li>
    </ul>
    <hr>
    <h1>{{fullname}}</h1>
    <h2>{{msg}}</h2>
    <input type="text" v-on:keyup.enter="typing">
    <input type="text" v-model="user.firstname">
    <button type="button" v-on:click="saludar(user.firstname)">
        Click me pls
    </button>

</div>
    
    
</template>
<script>
export default {
    data(){
        return{
            tittle:'llamando un titulo',
            user:{
                firstname:'Queen',
                sencondname:'Seeny'
            },
            html:'<h1> esto es un h1 </h1>',
            bool: false,
            task:[
                {title:'eat'},
                {title:'dinner'},
                {title:'breakfast'},
                {title:'lunch'},
                {title:'play'},
                {title:'jump'},
                {title:'lose'},
                {title:'win'}
            ]
                
            
        }
    },
    methods:{
        saludar(name){
            alert('heello ' + name)
        },
        typing(){
            alert('Ste men dio Enter')
        }
    },
    computed:{
        fullname(){
            return this.user.firstname + ' ' + this.user.sencondname;
        }
    },
    props:{
        msg: {
            type:String,
            default: ' Mensaje por defecto'
        }
    }
}
</script>
<style>
    .test{
        background-color: #eee;
    }
</style>

