<template>
    <div class="user">
        <h1> jelow girl</h1>
        <ul>
            <li v-for="user in user" :key="user.index">
                {{user.name}} - {{user.email}} <button v-on:click="deleteUser(user)">Delete</button>
            </li>
        </ul>
        <form v-on:submit.prevent="addUser">
            <input type="text" v-model="newUser.name" placeholder="Nombre">
            <input type="email" v-model="newUser.email" placeholder="Email">
            <button type="submit">Add</button>
        </form>
    </div>    
</template>
<script>
export default {
    data(){
        return{
            user:[
                {
                    name:'joe',
                    email:'joe@email.com',
                    contacted: false
                },
                {
                    name:'reys',
                    email:'reys@email.com',
                    contacted: true
                },
                {
                    name:'jill',
                    email:'jill@email.com',
                    contacted: true
                }
            ],
            newUser: {
               
            }
        }
    },
    methods:{
        addUser(){
            this.user.push(this.newUser);
            this.newUser = {

            };
            console.log('adding', this.newUser.name);
        },
        deleteUser(user){
            this.user.splice(this.user.indexOf(user),1);
            console.log('borrando');
        }
    },
    created(){
        this.$http.get('https://jsonplaceholder.typicode.com/users')
        .then(res => this.user = res.data)
        console.log('componente creado');
    }
}
</script>
<style>
    .user{
        background-color: #eee;
    }
</style>


