<template>
  <div id="app">
    <h1>Hola Mundo</h1>
    <!-- <test msg="jelow!!"/> -->
    <hr>
    <ul>
      <li>
        <router-link to="/test">
          test
        </router-link>
      </li>
      <li>
        <router-link to="/user">
          user
        </router-link>
      </li>
    </ul>

    <router-view></router-view>
  </div>
</template>

<script>
import user from './components/user.vue';
import test from './components/test.vue';

export default {
  name: 'App',
  components: {
    user,
    test
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
